.Quiz-Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    /*background-color: rgb(247, 247, 247);*/
}

.Quiz-Image {
    margin-bottom: 60px; 
    margin-top: 80px;
}

.Quiz-Answer-Button{
    margin-top: 40px;
}

.Quiz-Input {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.Quiz-Input input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    height: 20px;
}

.Quiz-Input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 200px;
}

.Quiz-Input button:hover {
    background-color: #0056b3; 
}

.Feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100px;
}

.Feedback p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.No-Content {
    margin-top: 350px;
    height: calc(100vh - 430px); 
    font-size: 40px;
    font-weight: 900;
    justify-content: center;
}

.Button-Box{
    margin-top: 30px;
    margin-left: 25px;
}

.Home-Button{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 50px;
    font-weight: 900;
}

.Home-Button:hover {
    background-color: black;
    color: white; 
    border-color: white; 
}

.Home-Button:active {
    background-color: white; 
    color: black; 
    border-color: black; 
    transform: scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.Next-Button{
    font-weight: 600;
    height: 35px;
    width: 100px;
    background-color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.Answer{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 900;
    
}

.Feedback-Image{

    width: 200px;
    height: auto;
}

.Feedback-Overlay {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    top: 10%; /* 상단에서의 위치를 조정 */
    left: 50%; 
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    

  }

.Quiz-Answer-Box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.Quiz-Feedback{
    margin-top: 20px;
    font-size: 21px;
    font-weight: 900;
}


