.tournament-edit-container {
    margin-top: 100px;
    margin-left: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.tournament-edit-box {
    display: flex;
    width: 250px;
    border-radius: 8px;
    border: 2px solid rgb(170, 170, 170);
    padding: 20px;
    flex-direction: column;
}

.tournament-thumbnail-box {
    display: flex;
    height: 100%;
}

.tournament-thumbnail-label {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.tournament-file-input {
    display: none;
}

.tournament-text-input {
    width: 100%;
}


.tournament-image-edit-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tournament-image-edit-box {
    display: flex;
    width: 200px;
    border-radius: 8px;
    border: 2px solid rgb(170, 170, 170);
    padding: 20px;
    flex-direction: column;
    margin: 20px;
    position: relative;
}

.tournament-image-label {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.tournament-image-add-box {
    display: flex;
    width: 200px;
    border-radius: 8px;
    border: 2px solid rgb(150, 80, 150);
    padding: 20px;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}

.tournament-image-add-box:hover {
    background-color: rgb(150, 80, 150);
}

.tournament-image-add-box:hover .tournament-image-add-icon-box {
    color: white;
}


.tournament-image-add-icon-box {
    height: 100%;
    display: flex;
    color: rgb(150, 80, 150);
}

.edit-box-delete-button {
    position: "absolute";
    top: "-12px";
    right: "-12px";
    background: "rgba(255, 30, 30, 0.8)";
    color: "white";
    border: "none";
    border-radius: "50%";
    width: "28px";
    height: "28px";
    cursor: "pointer";
    font-size: "1.5em";
}
