.menu-Box {
    margin-left: 60px;
    display: flex;
}

.menus {
    line-height: 90px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(177, 177, 177);
    transition: color 0.3s ease; /* 색상 전환 효과 */
}

.menus:hover {
    color: black;
}

.menus:active {
    color: rgb(218, 214, 214); 
}

.menus.active { /* 선택된 메뉴 스타일 */
    color: black; /* 선택된 메뉴는 검은색 */
}

.login-Box {
    margin-left: auto;
    margin-right: 40px;
    border: 2px solid black;
    width: 100px;
    height: 40px;
    margin-top: 24px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.login {
    text-align: center;
    line-height: 40px;
}

.start-Box {
    margin-right: 40px;
    border: 2px solid black;
    width: 110px;
    height: 40px;
    margin-top: 24px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.start {
    text-align: center;
    line-height: 40px;
}

.Top-navigate {    
    position: fixed; 
    top: 0;         
    left: 0;   
    z-index: 100;
    width: 100%;    
    height: 90px;
    border-bottom: 2px solid rgb(246, 246, 246);
    display: flex;
    background-color: white;
}
