.Top-navigate-Editor {    


    position: fixed;  
    z-index: 100;
    width: 230px;
    height: 100%;    
    border-bottom: 2px solid rgb(246, 246, 246);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    /* border-right: 3px solid rgb(162, 162, 162); */
    


}

.Logo{
    width: 180px;
    height: auto;
}

.Logo-Box-Editor{
    margin-right: 1px;
    border-bottom: 2px solid rgb(213, 213, 213);
    height: 90px;
    width: 280px;
    display: flex;
    justify-content: center;
}

.menu-Box-Editor {
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
    height: 520px;

}


.menus-Editor {
    line-height: 80px;
    font-size: 18px;
    width: 230px;
    height: 80px;
    font-weight: bold;
    color: rgb(177, 177, 177);
    transition: color 0.3s ease; 
    text-align: center;
}

.menus-Editor:hover {
    color: black;
    background-color: rgb(224, 187, 242);
}

.menus-Editor:active {
    color: rgb(218, 214, 214); 
}

.menus-Editor.active { /* 선택된 메뉴 스타일 */
    color: black; /* 선택된 메뉴는 검은색 */
}

.Logout-Box{
    line-height: 90px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(177, 177, 177);
    transition: color 0.3s ease; 
}

/** 패드 및 작은 노트북 **/

@media  (max-width: 1150px) {
    

    .Top-navigate-Editor {    
        width: 160px;
    }

    .menus-Editor {
        width: 160px;
    }



}