.Test-Main-Box {
    display: flex;
    justify-content: center;
    align-items: center;     
    margin: auto;          
    background-color: rgb(248, 245, 245);
    margin-top: 80px   ;
}

.Test-Total-Box {
    margin-top: 50px;
    width: 82%;
    display: flex;  
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
}

.Test-Box {
    margin: 10px;

}

.Top-Button{
   
    position: fixed;  
    bottom: 5%;;          
    right: 3%;
    text-align: center;  
}



