.Main-Box-Test{
    background-color: rgb(247, 247, 247);
}




.TestContent-Box{
    margin-top: 50px;
}


@media ( (max-width: 1700px) and (max-height: 1100px) ) {

    .TestContent-Box{
        margin-top: 70px;
    }
    
}